<h2>Data Produk</h2>
<div class="aksi-tambah">
  <button class="tambah">Tambah Produk</button>
</div>
<% if (msg.length != 0 ){ %>
  <div class="message"><%= msg %></div>
<%}%>
<div class="row-product">
  <% products.forEach(p =>{ %>

  <div class="box-product">
    <div class="data">
      <h4><%= p.nama %></h4>
      <p class="stok"><%= p.stok %></p>
      <p class="harga">Rp. <%= p.harga %></p>
    </div>
    <div class="image">
      <img src="/img/<%= p.image %>" alt="" class="product" />
    </div>
    <div class="aksi">
      <a href="/dashboard/produk/detail/<%= p.id %>" class="badge detail">Detail</a href="">
      <a href="/dashboard/produk/ubah/<%= p.id %>" class="badge ubah">Ubah</a href="">
      <a href="/dashboard/produk/hapus/<%= p.id %>" class="badge hapus">Hapus</a href="">
    </div>
  </div>
  <% }) %>
</div>
<div class="popup">
  <div class="form">
    <h2>Tambah Produk</h2>
    <form
      method="post"
      action="/dashboard/produk"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="id" id="id" value="<%= id %>" />
      <div class="form-input">
        <label for="nama">Nama Produk</label>
        <input type="text" name="nama" id="nama" placeholder="Nama Produk" />
      </div>
      <div class="form-input">
        <label for="harga">Harga Produk</label>
        <input type="text" name="harga" id="harga" placeholder="Harga Produk" />
      </div>
      <div class="form-input">
        <label for="stok">Stok Produk</label>
        <input type="text" name="stok" id="stok" placeholder="Stok Produk" />
      </div>
      <div class="form-input">
        <label for="jenis">Jenis Produk</label>
        <input type="text" name="jenis" id="jenis" placeholder="Jenis Produk" />
      </div>
      <div class="form-input">
        <label for="image">Image Produk</label>
        <input
          type="file"
          name="image"
          id=""
          placeholder="Image Produk"
          class="file"
        />
      </div>
      <div class="form-action">
        <button class="close" type="button">Kembali</button>
        <button type="submit" class="tambah">Tambah</button>
      </div>
    </form>
  </div>
</div>
